{{ '//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css' | stylesheet_tag }}
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" defer="defer"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js" type="text/javascript" defer="defer"></script>
{%- style -%}
@media screen and (min-width: 750px){
  .cart-delivery-date {
    width: 35rem;
    margin-left: auto !important;
    margin-right: 0 !important;
  }
}
.cart-delivery-date{
  max-width: 36rem;
  margin:4rem auto 0;
}
.cart-attribute__field{
  margin-bottom: 2rem;
}
.cart-attribute__field label{
  font-size: 1.4rem;
}
.cart-attribute__field input,
.cart-attribute__field select{
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 1px solid #000;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0.5em;
  font-size: 1.6rem;
  color: rgba(var(--color-foreground), 0.75);
}
.cart-attribute__field .selectbox{
  position: relative;
  z-index: 1;
}
.cart-attribute__field .selectbox::after {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  z-index: -1;
}
{%- endstyle -%}
<div class="page-width">
  <div class="cart-delivery-date">
    <div class="cart-attribute__field">
      <label for="date">お届け希望日</label>
      <input
        id="date"
        type="text"
        name="attributes[配送希望日]"
        value="{{ cart.attributes["配送希望日"] }}"
        placeholder="最短で発送"
      >
    </div>
    <!--<div class="cart-attribute__field">
      <label for="delivery-time">お届け希望時間帯</label>
      <div class="selectbox">
        <select id="delivery-time" name="attributes[配送時間帯]">
          <option value="指定無し"{% if cart.attributes["配送時間帯"] == "指定無し" %} selected{% endif %}>指定無し</option>
          <option value="午前中"{% if cart.attributes["配送時間帯"] == "午前中" %} selected{% endif %}>午前中</option>
          <option value="12:00〜14:00"{% if cart.attributes["配送時間帯"] == "12:00〜14:00" %} selected{% endif %}>12:00〜14:00</option>
          <option value="14:00〜16:00"{% if cart.attributes["配送時間帯"] == "14:00〜16:00" %} selected{% endif %}>14:00〜16:00</option>
          <option value="16:00〜18:00"{% if cart.attributes["配送時間帯"] == "16:00〜18:00" %} selected{% endif %}>16:00〜18:00</option>
          <option value="18:00〜20:00"{% if cart.attributes["配送時間帯"] == "18:00〜20:00" %} selected{% endif %}>18:00〜20:00</option>
          <option value="19:00〜21:00"{% if cart.attributes["配送時間帯"] == "19:00〜21:00" %} selected{% endif %}>19:00〜21:00</option>
        </select>
      </div>
    </div>-->
  </div>
</div>

<script>
  window.onload = function() {
      if (window.jQuery) {
        let $ = window.jQuery;
        $(function() {
          $.datepicker.setDefaults( $.datepicker.regional[ "ja" ] );
          $("#date").datepicker({
          minDate: +8,
          maxDate: '+1M',
          showButtonPanel: true
        });
      });
    }
  }
</script>
